
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-hard {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shared style */
.button-bg{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
}
/* header styes */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 698px;
    margin-bottom: 120px;
}
nav{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    
    
}
nav h2{
    color: rgba(78, 71, 255, 1);
    font-weight: bold;
    font-size: 80px;
}
nav button{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}
/* banner style */
.banner{
    text-align: center;
}
.banner p{
    font-weight: bold;
    font-size: 60px
}
.banner button{
    padding:12px 36px;
    border: none;
    width: 174px;
    height: 48px;
    font-weight: bold;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #f5f8ff;
}

/* action section style */
.action{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 220px;
    align-items: center;
}
.action-container h3{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.action-container p{
    font-size: 24px;
    color: #252432;
}
.action-container button{
    padding: 12px 36px;
    border: none;
}
.action img{
    border-radius: 48px;
}

/* productive user styles */
.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    height: 305px;
    border-radius: 24px;
    text-align: center;
    padding: 50px 142px;
    margin-top: 116px;
}
.productive-user h3{
    font-weight: bold;
    font-size: 38px;
    color: rgba(37, 36, 50, 1);
}
.User{
    display: flex;
    justify-content: space-around;
}
.user-num{
    font-weight: bold;
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
    margin-bottom: 0;
}
.user-title{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
}

/* news-letter section style */
.news-letter{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 127px;
}
.forms{
    padding: 30px;
}
.news-letter h1{
    font-weight: bold;
    font-size: 97px;
    width: 48%;
    
}
.news-letter form{
    width: 48%;
}
.form-title{
    font-weight: 500px;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
}
 
input[type=Email] input[type=text] textarea{
    width: 497px;
    height: 70px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.5);
}
.input-width{
    width: 100%;
    padding: 20px 0px;
    border-radius: 10px;
}
.news-letter button{
    margin-top: 20px;
}

/* footer style */
footer{
    text-align: center;
}
footer h1{
    color: rgba(78, 71, 255, 1);
    font-weight: bolder;
    font-size: 100px;
    margin-bottom: 0px;
}
footer p{
    color: rgba(137, 135, 161, 1);
}

footer a{
    text-decoration: none;
    margin-right: 48px;
    color: rgba(137, 135, 161, 1);
}